<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lgh.test.mybatis.BlogMapper">
 <insert id="insertBlog" useGeneratedKeys="true" keyProperty="id">
  insert into Blog (name)
  values (#{name})
 </insert>
 <update id="updateBlog">
  update Blog set
  name = #{name}
  where id = #{id}
 </update>
 <delete id="deleteBlog">
  delete from Blog where id = #{id}
 </delete>
 <select id="selectBlog" resultType="blog">
  select * from Blog where id =
  #{id}
 </select>
</mapper>